<section id="home_thumbnails" class="home_thumbnails">
  <div class="page_wrapper">
    <ul class="thumbnails_list">
      <li class="thumbnail_item">
        <div class="thumbnail_image_wrapper">
          <img src="img/Dung.png" title="Dung">

          <div class="thumbnail_overlay">
            <a href="#" class="btn_thumbnail btn_add"><i class="icon_pin_it fa fa-plus"></i></a>

            <div class="thumbnail_info">
              <span>
                <i class="fa fa-eye"></i>
                <div>857</div>
              </span>
              <span>
                <i class="fa fa-clock-o"></i>
                <div>07/05/12</div>
              </span>
              <span>
                <i class="fa fa-plus"></i>
                <div>588</div>
              </span>
            </div>
          </div>
        </div>

        <div class="original_poster">
          <img src="img/Dung.png" title="Dung" class="user_avatar user_avatar_big">
          <h4>Dzungggg</h4>
          <p>HRC Photo</p>
        </div>
        <div class="item_content">
          Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="loader">
  <div class="page_wrapper">
    <div class="endless_loader">
      <div class="loader_dots">
        <i class="loader_dot"></i>
        <i class="loader_dot"></i>
        <i class="loader_dot"></i>
      </div>
    </div>
  </div>
</section>
